{% extends 'base.html' %}
{% block content %}

<details>
    <summary>[Cadastrar um novo jogo]</summary>
    <div class="col-md-4">
        <form action="{{url_for('estoque_jogos')}}" method="POST">
            <input type="text" name="titulo" placeholder="Título do jogo" class="form-control mb-2" required>
            <input type="number" name="ano" placeholder="Ano de lançamento" class="form-control mb-2" required>
            <input type="text" name="categoria" placeholder="Categoria do jogo" class="form-control mb-2" required>
            <input type="text" name="plataforma" placeholder="Plataforma do jogo" class="form-control mb-2" required>
            <input type="number" step="0.01" name="preco" placeholder="Preço do jogo" class="form-control mb-2" required>
            <input type="number" name="quantidade" placeholder="Quantidade em estoque" class="form-control mb-2" required>
            <br>
            <button type="submit" class="btn btn-outline-success">Cadastrar</button>
            <button type="reset" class="btn btn-outline-danger">Limpar</button>
        </form>
    </div>
</details>

<hr>

<h2>Controle de Estoque</h2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Ano</th>
            <th>Categoria</th>
            <th>Plataforma</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{game.titulo}}</td>
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>{{game.preco}}</td>
            <td>{{game.quantidade}}</td>
            <td>Editar</td>
            <td>Deletar</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}